body {
  background-image:   url("grid-dark.png");
  position:           fixed;
  top:                2%;
}

table {
  table-layout:       fixed;
  position:           relative;
  left:               149px;
  width:              1622px;
}

th {
  size:               exact;
  width:              387px;
}

/*th1 {
  width:              387;
}*/

tr  {
  height:             203px;
}

img:hover {
  background-color:   grey;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform:  scale(1.25);
}
